<!-- MOBILE MENU -->
<div class="menu-container js-menu-container" id="mobile-menu" aria-expanded="false" aria-controls="mobile-menu">
    <a class="header-logo menu" href="../index.html">
        <img src="./images/logo.svg" alt="logo" />
        <span>thewatchspot</span>
    </a>
    <button class="head-menu-bt js-close-menu">
        <img src="./images/x.svg" alt="x" width="24" height="24">
        <svg class="menu-close" width="20" height="20">
            <use href="./images/icons.svg#icon-x-mob"></use>
        </svg>
    </button>

    <ul class="mobile-menu">
        <li>
            <a class="mobile-nav-item js-close-menu" href="#about">About us</a>
        </li>
        <li>
            <a class="mobile-nav-item js-close-menu" href="#catalog">Catalog</a>
        </li>
        <li>
            <a class="mobile-nav-item js-close-menu" href="#sale">Sale</a>
        </li>
    </ul>
</div>