<section class="catalog" id="catalog">

    <div class="container">
        <h2 class="catalog-name">Catalog</h2>
        <ul class="catalog-list list">

            <li class="catalog-list-item">
                <div class="catalog-list-item-wrap">
                    <div class="catalog-image-wrap">
                        <picture>
                            <source srcset="
                                    ./images/catalog/desk/tube_desk.jpg 1x, 
                                    ./images/catalog/desk/tube_desk_2x.jpg 2x" media="(min-width: 768px)" />
                            <source srcset="
                                    ./images/catalog/mob/tube_mob.jpg 1x, 
                                    ./images/catalog/mob/tube_mob_2x.jpg 2x" media="(min-width: 320px)" />
                            <img src="./images/catalog/desk/tube_desk.jpg" alt="Tube Watch S42 Date Steel With Black"
                                width="276" height="274">
                        </picture>
                    </div>

                    <div class="catalog-item-overlay">
                        <h3 class="overlay-subtitle">Description</h3>
                        <p class="overlay-text">Richly detailed with an understated design - the Police Men’s
                            Greenlane watch.</p>
                        <h3 class="overlay-subtitle">DETAILS & FEATURESTION</h3>
                        <ul class="overlay-list list">
                            <li class="overlay-item">Gender: man</li>
                            <li class="overlay-item">Size: 46x54.5mm</li>
                            <li class="overlay-item">Case Colour: Steel</li>
                            <li class="overlay-item">Band Material: Metal</li>
                            <li class="overlay-item">Case Material: Metal</li>
                            <li class="overlay-item">Features: Multifunction</li>
                            <li class="overlay-item">Water Resistant: 5 (ATM)</li>
                            <li class="overlay-item">Band Colour: Steel</li>
                        </ul>
                    </div>
                </div>
                <p class="catalog-item-text">Tube Watch S42 Date Steel With Black</p>
                <span class="catalog-item-price">&#8364;395</span>
            </li>

            <li class="catalog-list-item">
                <div class="catalog-list-item-wrap">
                    <div class="catalog-image-wrap">
                        <picture>
                            <source
                                srcset="./images/catalog/desk/avondale_desk.jpg 1x, ./images/catalog/desk/avondale_desk_2x.jpg 2x"
                                media="(min-width: 768px)" />
                            <source
                                srcset="./images/catalog/mob/avondale_mob.jpg 1x, ./images/catalog/mob/avondale_mob_2x.jpg 2x"
                                media="(min-width: 320px)" />
                            <img src="./images/catalog/desk/avondale_desk.jpg" alt="Avondale Watch Police For Men"
                                width="276" height="274">
                        </picture>

                    </div>
                    <div class="catalog-item-overlay">
                        <h3 class="overlay-subtitle">Description</h3>
                        <p class="overlay-text">Richly detailed with an understated design - the Police Men’s
                            Greenlane watch.</p>
                        <h3 class="overlay-subtitle">DETAILS & FEATURESTION</h3>
                        <ul class="overlay-list list">
                            <li class="overlay-item">Gender: man</li>
                            <li class="overlay-item">Size: 46x54.5mm</li>
                            <li class="overlay-item">Case Colour: Steel</li>
                            <li class="overlay-item">Band Material: Metal</li>
                            <li class="overlay-item">Case Material: Metal</li>
                            <li class="overlay-item">Features: Multifunction</li>
                            <li class="overlay-item">Water Resistant: 5 (ATM)</li>
                            <li class="overlay-item">Band Colour: Steel</li>
                        </ul>
                    </div>
                </div>
                <p class="catalog-item-text">Avondale Watch Police For Men</p>
                <span class="catalog-item-price">&#8364;800</span>
            </li>

            <li class="catalog-list-item">
                <div class="catalog-list-item-wrap">
                    <div class="catalog-image-wrap">
                        <picture>
                            <source
                                srcset="./images/catalog/desk/diver_chronograph_desk.jpg 1x, ./images/catalog/desk/diver_chronograph_desk_2x.jpg 2x"
                                media="(min-width: 768px)" />
                            <source
                                srcset="./images/catalog/mob/diver_chronograph_mob.jpg 1x, ./images/catalog/mob/diver_chronograph_mob_2x.jpg 2x"
                                media="(min-width: 320px)" />
                            <img src="./images/catalog/desk/diver_chronograph_desk.jpg"
                                alt="Diver 300M Co‑Axial Master Chronometer Chronograph" width="276" height="274">
                        </picture>
                    </div>

                    <div class="catalog-item-overlay">
                        <h3 class="overlay-subtitle">Description</h3>
                        <p class="overlay-text">Richly detailed with an understated design - the Police Men’s
                            Greenlane watch.</p>
                        <h3 class="overlay-subtitle">DETAILS & FEATURESTION</h3>
                        <ul class="overlay-list list">
                            <li class="overlay-item">Gender: man</li>
                            <li class="overlay-item">Size: 46x54.5mm</li>
                            <li class="overlay-item">Case Colour: Steel</li>
                            <li class="overlay-item">Band Material: Metal</li>
                            <li class="overlay-item">Case Material: Metal</li>
                            <li class="overlay-item">Features: Multifunction</li>
                            <li class="overlay-item">Water Resistant: 5 (ATM)</li>
                            <li class="overlay-item">Band Colour: Steel</li>
                        </ul>
                    </div>
                </div>
                <p class="catalog-item-text">Diver 300M Co‑Axial Master Chronometer Chronograph</p>
                <span class="catalog-item-price">&#8364;600</span>
            </li>

            <li class="catalog-list-item">
                <div class="catalog-list-item-wrap">
                    <div class="catalog-image-wrap">
                        <picture>
                            <source
                                srcset="./images/catalog/desk/diver_chronometer_desk.jpg 1x, ./images/catalog/desk/diver_chronometer_desk_2x.jpg 2x"
                                media="(min-width: 768px)" />
                            <source
                                srcset="./images/catalog/mob/diver_hronometer_mob.jpg 1x, ./images/catalog/mob/diver_hronometer_mob_2x.jpg 2x"
                                media="(min-width: 320px)" />
                            <img src="./images/catalog/desk/diver_chronometer_desk.jpg"
                                alt="Diver 300M Co-Axial Master Chronometer" width="276" height="274">
                        </picture>
                    </div>

                    <div class="catalog-item-overlay">
                        <h3 class="overlay-subtitle">Description</h3>
                        <p class="overlay-text">Richly detailed with an understated design - the Police Men’s
                            Greenlane watch.</p>
                        <h3 class="overlay-subtitle">DETAILS & FEATURESTION</h3>
                        <ul class="overlay-list list">
                            <li class="overlay-item">Gender: man</li>
                            <li class="overlay-item">Size: 46x54.5mm</li>
                            <li class="overlay-item">Case Colour: Steel</li>
                            <li class="overlay-item">Band Material: Metal</li>
                            <li class="overlay-item">Case Material: Metal</li>
                            <li class="overlay-item">Features: Multifunction</li>
                            <li class="overlay-item">Water Resistant: 5 (ATM)</li>
                            <li class="overlay-item">Band Colour: Steel</li>
                        </ul>
                    </div>
                </div>
                <p class="catalog-item-text">Diver 300M Co-Axial Master Chronometer</p>
                <span class="catalog-item-price">&#8364;1400</span>
            </li>

            <li class="catalog-list-item">
                <div class="catalog-list-item-wrap">
                    <div class="catalog-image-wrap">
                        <picture>
                            <source
                                srcset="./images/catalog/desk/taman_desk.jpg 1x, ./images/catalog/desk/taman_desk_2x.jpg 2x"
                                media="(min-width: 768px)" />
                            <source
                                srcset="./images/catalog/mob/taman_mob.jpg 1x, ./images/catalog/mob/taman_mob_2x.jpg 2x"
                                media="(min-width: 320px)" />
                            <img src="./images/catalog/desk/taman_desk.jpg" alt="Taman Watch By Police For Men"
                                width="276" height="274">
                        </picture>
                        <button type="button" class="like-btn button">
                            <svg class="like-icon" width="24" height="24">
                                <use href="../images/svg/icons.svg#icon-heart"></use>
                            </svg>
                        </button>
                    </div>

                    <div class="catalog-item-overlay">
                        <h3 class="overlay-subtitle">Description</h3>
                        <p class="overlay-text">Richly detailed with an understated design - the Police Men’s
                            Greenlane watch.</p>
                        <h3 class="overlay-subtitle">DETAILS & FEATURESTION</h3>
                        <ul class="overlay-list list">
                            <li class="overlay-item">Gender: man</li>
                            <li class="overlay-item">Size: 46x54.5mm</li>
                            <li class="overlay-item">Case Colour: Steel</li>
                            <li class="overlay-item">Band Material: Metal</li>
                            <li class="overlay-item">Case Material: Metal</li>
                            <li class="overlay-item">Features: Multifunction</li>
                            <li class="overlay-item">Water Resistant: 5 (ATM)</li>
                            <li class="overlay-item">Band Colour: Steel</li>
                        </ul>
                    </div>
                </div>
                <p class="catalog-item-text">Taman Watch By Police For Men</p>
                <span class="catalog-item-price">&#8364;500</span>
            </li>

            <li class="catalog-list-item">
                <div class="catalog-list-item-wrap">
                    <div class="catalog-image-wrap">
                        <picture>
                            <source
                                srcset="./images/catalog/desk/malawi_desk.jpg 1x, ./images/catalog/desk/malawi_desk_2x.jpg 2x"
                                media="(min-width: 768px)" />
                            <source
                                srcset="./images/catalog/mob/malawi_mob.jpg 1x, ./images/catalog/mob/malawi_mob_2x.jpg 2x"
                                media="(min-width: 320px)" />
                            <img src="./images/catalog/desk/malawi_desk.jpg" alt="Malawi Watch Police For Men"
                                width="276" height="274">
                        </picture>
                        <button type="button" class="like-btn button">
                            <svg class="like-icon" width="24" height="24">
                                <use href="./images/svg/icons.svg#icon-heart"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="catalog-item-overlay">
                        <h3 class="overlay-subtitle">Description</h3>
                        <p class="overlay-text">Richly detailed with an understated design - the Police Men’s
                            Greenlane watch.</p>
                        <h3 class="overlay-subtitle">DETAILS & FEATURESTION</h3>
                        <ul class="overlay-list list">
                            <li class="overlay-item">Gender: man</li>
                            <li class="overlay-item">Size: 46x54.5mm</li>
                            <li class="overlay-item">Case Colour: Steel</li>
                            <li class="overlay-item">Band Material: Metal</li>
                            <li class="overlay-item">Case Material: Metal</li>
                            <li class="overlay-item">Features: Multifunction</li>
                            <li class="overlay-item">Water Resistant: 5 (ATM)</li>
                            <li class="overlay-item">Band Colour: Steel</li>
                        </ul>
                    </div>
                </div>
                <p class="catalog-item-text">Malawi Watch Police For Men</p>
                <span class="catalog-item-price">&#8364;555</span>
            </li>

            <li class="catalog-list-item">
                <div class="catalog-list-item-wrap">
                    <div class="catalog-image-wrap">
                        <picture>
                            <source
                                srcset="./images/catalog/desk/diver_master_desk.jpg 1x, ./images/catalog/desk/diver_master_desk_2x.jpg 2x"
                                media="(min-width: 768px)" />
                            <source
                                srcset="./images/catalog/mob/diver_master_mob.jpg, ./images/catalog/mob/diver_master_mob_2x.jpg 2x"
                                media="(min-width: 320px)" />
                            <img src="./images/catalog/desk/diver_master_desk.jpg" alt="Diver 300M Co-Axial Master"
                                width="276" height="274">
                        </picture>
                    </div>
                    <div class="catalog-item-overlay">
                        <h3 class="overlay-subtitle">Description</h3>
                        <p class="overlay-text">Richly detailed with an understated design - the Police Men’s
                            Greenlane watch.</p>
                        <h3 class="overlay-subtitle">DETAILS & FEATURESTION</h3>
                        <ul class="overlay-list list">
                            <li class="overlay-item">Gender: man</li>
                            <li class="overlay-item">Size: 46x54.5mm</li>
                            <li class="overlay-item">Case Colour: Steel</li>
                            <li class="overlay-item">Band Material: Metal</li>
                            <li class="overlay-item">Case Material: Metal</li>
                            <li class="overlay-item">Features: Multifunction</li>
                            <li class="overlay-item">Water Resistant: 5 (ATM)</li>
                            <li class="overlay-item">Band Colour: Steel</li>
                        </ul>
                    </div>
                </div>
                <p class="catalog-item-text">Diver 300M Co-Axial Master</p>
                <span class="catalog-item-price">&#8364;1200</span>
            </li>

            <li class="catalog-list-item">
                <div class="catalog-list-item-wrap">
                    <div class="catalog-image-wrap">
                        <picture>
                            <source
                                srcset="./images/catalog/desk/greenlane_desk.jpg 1x, ./images/catalog/desk/greenlane_desk_2x.jpg 2x"
                                media="(min-width: 768px)" />
                            <source
                                srcset="./images/catalog/mob/greenlane_mob.jpg 1x, ./images/catalog/mob/greenlane_mob_2x.jpg 2x"
                                media="(min-width: 320px)" />
                            <img src="./images/catalog/desk/greenlane_desk.jpg" alt="Greenlane Watch By Police For Men"
                                width="276" height="274">
                        </picture>
                    </div>
                    <div class="catalog-item-overlay">
                        <h3 class="overlay-subtitle">Description</h3>
                        <p class="overlay-text">Richly detailed with an understated design - the Police Men’s
                            Greenlane watch.</p>
                        <h3 class="overlay-subtitle">DETAILS & FEATURESTION</h3>
                        <ul class="overlay-list list">
                            <li class="overlay-item">Gender: man</li>
                            <li class="overlay-item">Size: 46x54.5mm</li>
                            <li class="overlay-item">Case Colour: Steel</li>
                            <li class="overlay-item">Band Material: Metal</li>
                            <li class="overlay-item">Case Material: Metal</li>
                            <li class="overlay-item">Features: Multifunction</li>
                            <li class="overlay-item">Water Resistant: 5 (ATM)</li>
                            <li class="overlay-item">Band Colour: Steel</li>
                        </ul>
                    </div>
                </div>
                <p class="catalog-item-text">Greenlane Watch By Police For Men</p>
                <span class="catalog-item-price">&#8364;1000</span>
            </li>

            <li class="catalog-list-item hidden-item">
                <div class="catalog-list-item-wrap">
                    <div class="catalog-image-wrap">
                        <img srcset="./images/catalog/desk/squardrc_desk.jpg 1x, ./images/catalog/desk/squardrc_desk_2x.jpg 2x"
                            src="./images/catalog/desk/squardrc_desk.jpg" alt="Squardrc 5402 Chrono" width="276"
                            height="274">
                    </div>
                    <div class="catalog-item-overlay">
                        <h3 class="overlay-subtitle">Description</h3>
                        <p class="overlay-text">Richly detailed with an understated design - the Police Men’s
                            Greenlane watch.</p>
                        <h3 class="overlay-subtitle">DETAILS & FEATURESTION</h3>
                        <ul class="overlay-list list">
                            <li class="overlay-item">Gender: man</li>
                            <li class="overlay-item">Size: 46x54.5mm</li>
                            <li class="overlay-item">Case Colour: Steel</li>
                            <li class="overlay-item">Band Material: Metal</li>
                            <li class="overlay-item">Case Material: Metal</li>
                            <li class="overlay-item">Features: Multifunction</li>
                            <li class="overlay-item">Water Resistant: 5 (ATM)</li>
                            <li class="overlay-item">Band Colour: Steel</li>
                        </ul>
                    </div>
                </div>
                <p class="catalog-item-text">Squardrc 5402 Chrono</p>
                <span class="catalog-item-price">&#8364;359</span>
            </li>

            <li class="catalog-list-item hidden-item">
                <div class="catalog-list-item-wrap">
                    <div class="catalog-image-wrap">
                        <img srcset="./images/catalog/desk/diver_omega_desk.jpg 1x, ./images/catalog/desk/diver_omega_desk_2x.jpg 2x"
                            src="./images/catalog/desk/diver_omega_desk.jpg"
                            alt="Omega Diver  300M Co‑Axial Master Chronometer Chronograph" width="276" height="274">
                    </div>
                    <div class="catalog-item-overlay">
                        <h3 class="overlay-subtitle">Description</h3>
                        <p class="overlay-text">Richly detailed with an understated design - the Police Men’s
                            Greenlane watch.</p>
                        <h3 class="overlay-subtitle">DETAILS & FEATURESTION</h3>
                        <ul class="overlay-list list">
                            <li class="overlay-item">Gender: man</li>
                            <li class="overlay-item">Size: 46x54.5mm</li>
                            <li class="overlay-item">Case Colour: Steel</li>
                            <li class="overlay-item">Band Material: Metal</li>
                            <li class="overlay-item">Case Material: Metal</li>
                            <li class="overlay-item">Features: Multifunction</li>
                            <li class="overlay-item">Water Resistant: 5 (ATM)</li>
                            <li class="overlay-item">Band Colour: Steel</li>
                        </ul>
                    </div>
                </div>
                <p class="catalog-item-text">Diver 300M Co‑Axial Master Chronometer Chronograph</p>
                <span class="catalog-item-price">&#8364;400</span>
            </li>

            <li class="catalog-list-item hidden-item">
                <div class="catalog-list-item-wrap">
                    <div class="catalog-image-wrap">
                        <img srcset="./images/catalog/desk/citizen_desk.jpg 1x, ./images/catalog/desk/citizen_desk_2x.jpg 2x"
                            src="./images/catalog/desk/citizen_desk.jpg" alt="Citizen" width="276" height="274">
                    </div>
                    <div class="catalog-item-overlay">
                        <h3 class="overlay-subtitle">Description</h3>
                        <p class="overlay-text">Richly detailed with an understated design - the Police Men’s
                            Greenlane watch.</p>
                        <h3 class="overlay-subtitle">DETAILS & FEATURESTION</h3>
                        <ul class="overlay-list list">
                            <li class="overlay-item">Gender: man</li>
                            <li class="overlay-item">Size: 46x54.5mm</li>
                            <li class="overlay-item">Case Colour: Steel</li>
                            <li class="overlay-item">Band Material: Metal</li>
                            <li class="overlay-item">Case Material: Metal</li>
                            <li class="overlay-item">Features: Multifunction</li>
                            <li class="overlay-item">Water Resistant: 5 (ATM)</li>
                            <li class="overlay-item">Band Colour: Steel</li>
                        </ul>
                    </div>
                </div>
                <p class="catalog-item-text">Citizen</p>
                <span class="catalog-item-price">&#8364;519</span>
            </li>

            <li class="catalog-list-item hidden-item">
                <div class="catalog-list-item-wrap">
                    <div class="catalog-image-wrap">
                        <img srcset="./images/catalog/desk/armani_exchange_desk.jpg 1x, ./images/catalog/desk/armani_exchange_desk.jpg 2x"
                            src="./images/catalog/desk/armani_exchange_desk.jpg" alt="Armani Exchange" width="276"
                            height="274">
                    </div>
                    <div class="catalog-item-overlay">
                        <h3 class="overlay-subtitle">Description</h3>
                        <p class="overlay-text">Richly detailed with an understated design - the Police Men’s
                            Greenlane watch.</p>
                        <h3 class="overlay-subtitle">DETAILS & FEATURESTION</h3>
                        <ul class="overlay-list list">
                            <li class="overlay-item">Gender: man</li>
                            <li class="overlay-item">Size: 46x54.5mm</li>
                            <li class="overlay-item">Case Colour: Steel</li>
                            <li class="overlay-item">Band Material: Metal</li>
                            <li class="overlay-item">Case Material: Metal</li>
                            <li class="overlay-item">Features: Multifunction</li>
                            <li class="overlay-item">Water Resistant: 5 (ATM)</li>
                            <li class="overlay-item">Band Colour: Steel</li>
                        </ul>
                    </div>
                </div>
                <p class="catalog-item-text">Armani Exchange</p>
                <span class="catalog-item-price">&#8364;400</span>
            </li>
        </ul>
        <button type="button" class="catalog-btn button" data-modal-open>Buy now</button>
    </div>
</section>