<!----------------------------HERO SECTION------------------------------>

<section class="hero">
  <div class="container">
    <!-- обгортка для h1 і p -->
    <div class="hero-first-row">
      <h1 class="hero-title">Welcome to our collection of premium watches</h1>
      <p class="hero-descktop-paragraph">
        Our watches are not just timepieces, but also an expression of your
        personality and lifestyle. From classic designs to modern ones, we have
        a watch to suit every taste and occasion.
      </p>
    </div>
    <!--обгортка для p swiper img -->
    <div class="hero-descktop-second-row">
      <div class="hero-tablet-second-row">
        <!--------------------------------контейнер для свайпа -->

        <div class="swiper">
          <!--Additional required wrapper------------обгортка для слайдів -->
          <div class="swiper-wrapper">
            <!-- Slides-------1----------------------- Слайди -->
            <div class="swiper-slide">
              <picture>
                <source
                  srcset="./images/hero/mb-wach-1.jpg"
                  media="(max-width: 767px)"
                  width="266px"
                  height="200px"
                />
                <source
                  srcset="./images/hero/tb-wach-1.jpg"
                  media="(min-width: 768px)"
                  width="436px"
                  height="255px"
                />
                <img
                  src="./images/hero/tb-wach-1.jpg"
                  alt="Img"
                  width="436px"
                  height="255px"
                />
              </picture>
            </div>

            <div class="swiper-slide">
              <picture>
                <source
                  srcset="./images/hero/mb-wach-2.jpg"
                  media="(max-width: 767px)"
                  width="266px"
                  height="200px"
                />
                <source
                  srcset="../images/hero/tb-wach-2.jpg"
                  media="(min-width: 768px)"
                  width="436px"
                  height="255px"
                />
                <img
                  src="./images/hero/tb-wach-2.jpg"
                  alt="Img"
                  width="436px"
                  height="255px"
                />
              </picture>
            </div>

            <div class="swiper-slide">
              <picture>
                <source
                  srcset="./images/hero/mb-wach-3.jpg"
                  media="(max-width: 767px)"
                  width="266px"
                  height="200px"
                />
                <source
                  srcset="../images/hero/tb-wach-3.jpg"
                  media="(min-width: 768px)"
                  width="436px"
                  height="255px"
                />
                <img
                  src="./images/hero/tb-wach-3.jpg"
                  alt="Img"
                  width="436px"
                  height="255px"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  srcset="./images/hero/mb-wach-4.jpg"
                  media="(max-width: 767px)"
                  width="266px"
                  height="200px"
                />
                <source
                  srcset="./images/hero/tb-wach-4.jpg"
                  media="(min-width: 768px)"
                  width="436px"
                  height="255px"
                />
                <img
                  src="./images/hero/tb-wach-4.jpg"
                  alt="Img"
                  width="436px"
                  height="255px"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  srcset="./images/hero/mb-wach-5.jpg"
                  media="(max-width: 767px)"
                  width="266px"
                  height="200px"
                />
                <source
                  srcset="./images/hero/tb-wach-5.jpg"
                  media="(min-width: 768px)"
                  width="436px"
                  height="255px"
                />
                <img
                  src="./images/hero/tb-wach-5.jpg"
                  alt="Img"
                  width="436px"
                  height="255px"
                />
              </picture>
            </div>
          </div>
        </div>
        <!------------------------------------ кнопки для навігацій top -->
        <div class="swiper-navigation-top">
          <div class="swiper-button-prev">
            <button type="button" class="button-prev">
              <svg class="hero-icon" width="18" height="18">
                <use href="./images/icons.svg#icon-chevron-left"></use>
              </svg>
            </button>
          </div>

          <div class="swiper-button-next">
            <button type="button" class="button-next">
              <svg class="hero-icon" width="18" height="18">
                <use href="./images/icons.svg#icon-chevron-right"></use>
              </svg>
            </button>
          </div>
          <div class="hero-numbers">
            <p class="hero-numbers-item hero-numbers">01</p>
            <p class="hero-numbers">05</p>
          </div>
        </div>
        <p class="hero-tablet-paragraph">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>

      <!------------------------------------ кнопки для навігацій -->
      <div class="swiper-navigation">
        <div class="swiper-button-prev">
          <button type="button" class="button-prev">
            <svg class="hero-icon" width="18" height="18">
              <use href="./images/icons.svg#icon-chevron-left"></use>
            </svg>
          </button>
        </div>

        <div class="swiper-button-next">
          <button type="button" class="button-next">
            <svg class="hero-icon" width="18" height="18">
              <use href="./images/icons.svg#icon-chevron-right"></use>
            </svg>
          </button>
        </div>
        <div class="hero-numbers">
          <p class="hero-numbers-item">01</p>
          <p>05</p>
        </div>
      </div>

      <!------------------------------------------------------- -->
      <p class="hero-paragraph">
        Our watches are not just timepieces, but also an expression of your
        personality and lifestyle. From classic designs to modern ones, we have
        a watch to suit every taste and occasion.
      </p>

      <!-------------------------hero img------------------------------ -->
      <div class="hero-main-pic">
        <picture>
          <source
            srcset="./images/hero/desk1x.jpg 1x, ../images/hero/desk2x.jpg 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./images/hero/tabl1x.jpg 1x, ../images/hero/tabl2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./images/hero/mob1x.jpg 1x, ../images/hero/mob2x.jpg 2x"
            media="(min-width: 320px)"
          />
          <img
            src="./images/new-watches/new-watches-1-mob.jpg"
            alt="New watches 1"
            class="new-watches-img"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
