<section class="new-watches section">
  <div class="container new-watches-container">
    <h2 class="new-watches-title section-title">New watches</h2>
    <h3 class="new-watches-subtitle">
      Green And Bronze—The Match Made In Heaven
    </h3>
    <ul class="new-watches-list list">
      <li class="new-watches-item">
        <picture>
          <source
            srcset="
              ../images/new-watches/new-watches-1-desktop.jpg    1x,
              ../images/new-watches/new-watches-1-desktop@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ../images/new-watches/new-watches-1-tab.jpg    1x,
              ../images/new-watches/new-watches-1-tab@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../images/new-watches/new-watches-1-mob.jpg    1x,
              ../images/new-watches/new-watches-1-mob@2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="../images/new-watches/new-watches-1-mob.jpg"
            alt="New watches 1"
            class="new-watches-img"
          />
        </picture>
      </li>
      <li class="new-watches-item">
        <picture>
          <source
            srcset="
              ../images/new-watches/new-watches-2-desktop.jpg    1x,
              ../images/new-watches/new-watches-2-desktop@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ../images/new-watches/new-watches-2-tab.jpg    1x,
              ../images/new-watches/new-watches-2-tab@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../images/new-watches/new-watches-2-mob.jpg    1x,
              ../images/new-watches/new-watches-2-mob@2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="../images/new-watches/new-watches-2-mob.jpg"
            alt="New watches 2"
            class="new-watches-img"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
