<section class="sale" id="sale">
    <div class="sale-container">
    <h2 class="sale-title">Sale</h2>
    <div class="sale-icon-thumb">
      <div class="all-pictures-wrap">
      <div class="sale-icon-item-wrap">
      <ul class="sale-icon-list">
        <li class="sale-icon-item">
          <picture>
            <source media="(min-width:1200px)" srcset="./images/sale/watch1.webp 1x" />
            <source media="(min-width:768px)" srcset="./images/sale/watch1-tablet.webp 1x" />
            <source media="(max-width:767px)" srcset="./images/sale/watch1-mobile.webp 1x" />
          <img
            src="./images/sale/watch1.webp"
            alt="Watch photo"
            width="146"
            
          />
        </picture>
        </li>
        <li class="sale-icon-item">
          <picture>
            <source media="(min-width:1200px)" srcset="./images/sale/watch1-2.webp 1x" />
            <source media="(min-width:768px)" srcset="./images/sale/watch1-2-tablet.webp 1x" />
            <source media="(max-width:767px)" srcset="./images/sale/watch1-2-mobile.webp 1x" />
          <img
            src="./images/sale/watch1-2.webp"
            alt="Watch photo"
            width="146"
            
          />
          </picture>
        </li>
        <li class="sale-icon-item">
          <picture>
            <source media="(min-width:1200px)" srcset="./images/sale/watch1-3.webp 1x" />
            <source media="(min-width:768px)" srcset="./images/sale/watch1-3-tablet.webp 1x" />
            <source media="(max-width:767px)" srcset="./images/sale/watch1-3-mobile.webp 1x"/>
          <img
            src="./images/sale/watch1-3.webp"
            alt="Watch photo"
            width="146"
          />
          </picture>
        </li>
        <li class="sale-icon-item">
          <picture>
            <source media="(min-width:1200px)" srcset="./images/sale/watch1-4.webp 1x" />
            <source media="(min-width:768px)" srcset="./images/sale/watch1-4-tablet.webp 1x" />
            <source media="(max-width:767px)" srcset="./images/sale/watch1-4-mobile.webp 1x"/>
          <img
            src="./images/sale/watch1-4.webp"
            alt="Watch photo"
            width="146"
            
          />
          </picture>
        </li>
      </ul>
      </div>
      <div class="sale-texts">
      <div class="big-picture-wrap">
        <picture>
          <source media="(min-width:1200px)" srcset="./images/sale/watch1-main.webp 1x" />
          <source media="(min-width:768px)" srcset="./images/sale/watch1-main-tablet.webp 1x" />
          <source media="(max-width:767px)" srcset="./images/sale/watch1-main-mobile.webp 1x" />
          <img class="sale-biggest-icon"
            src="./images/sale/watch1-main.webp"
            alt="Watch photo"
            width="406"
          />
        </picture>
      </div>
      </div>
      </div>
      <div class="sale-texts-wrap">
        <h3 class="sale-subtitle">Greenlane Watch By Police For MenHT</h3>
        <p class="sale-product-tag">Product tag: PEWJK2227003</p>
        <div class="sale-price-list">
          <span class="sale-price-text">€700</span>
          <span class="sale-oldprice-text">€1000</span>
        </div>
        <div class="top-line" style="border-top: 1px solid #141414;"></div>
        <h4 class="sale-description-title">Description</h4>
        <p class="sale-description-text">
          Richly detailed with an understated design - the Police Men’s Greenlane
          watch features a versatile multifunction design that fits effortlessly
          into work and play. The steel case is adorned with a semi-transparent
          black dial. The timepiece exhibits a contrast through a black IP
          bracelet with matching crown and pushers.
        </p>
        <div class="top-line" style="border-top: 1px solid #141414;"></div>
        <h4 class="sale-description-title">DETAILS & FEATURES</h4>
            <ul class="sale-details-list">
              <li class="sale-details-item">Gender: man</li>
              <li class="sale-details-item">Size: 46x54.5mm</li>
              <li class="sale-details-item">Case Colour: Steel</li>
              <li class="sale-details-item">Band Material: Metal Case</li>
              <li class="sale-details-item">Material: Metal</li>
              <li class="sale-details-item">Features: Multifunction</li>
              <li class="sale-details-item">Water Resistant: 5 (ATM)</li>
              <li class="sale-details-item">Band Colour: Steel</li>
            </ul>
      </div>
    </div>
    </div>
    </section>