/* MOBILE MENU */
.head-menu-bt {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    padding: 0;
    background-color: transparent;
    border: none;
    fill: var(--white-primary-color);

}

.header-logo.menu {
    padding: 0;
}

@media only screen and (min-width: 768px) {
    .head-menu-bt {
        display: none;
    }
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    background-color: var(--black-title-bg-color);
    z-index: 9999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .head-menu-bt {
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--white-primary-color);
}

.mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 14px;
    margin-top: 253px;
}

.mobile-nav-item {
    font-weight: 400;
    text-transform: uppercase;
    color: var(--white-primary-color);
}

.mobile-menu .link {
    display: block;
    padding: 10px;
    color: var(--white-primary-color);
    text-decoration: none;
}

.mob-menu.is-open+.mobile-menu-open .buger {
    display: none;
}

.mob-menu.is-open+.mobile-menu-open .close-icon {
    display: inline;
}