:root {
  --white-primary-color: #ffffff;
  --black-title-bg-color: #1e2827;
  --black-primary-color: #141414;
  --black-secondary-color: #14141480;
  --grey-text-color: #ffffff80;
  --grey-footer-text: #c6cdd1;
  --grey-additional-text: #14141466;
  /* for modal privacy and New Watches sections */
  --grey-background-color: #fbfbfb;
  --transition-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Reset styles */
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  /* width: 100%; */
}

body {
  font-family: 'Epilogue', sans-serif;
  color: var(--black-primary-color);
  background-color: var(--grey-background-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: block;
  cursor: pointer;
  border: 1px solid transparent;
}

.container {
  min-width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}
